{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

	<div style="color:white">
    <h1>About</h1>
    <hr />
	<h2>Biography</h2>
	
	<p>My name is Mark Gandelman. I've been programming since 2012. Since then, I've done quite a bit more programming.</p>
	<h3>School</h3>
	<ul>
	<li>Currently a 5th year BS CS Student at RIT</li>
	<li>Expected to graduate May 2016</li>
	</ul>
	<h2>Experience</h2>
	<ul>
		<li>Spectracom Corporation, Rochester NY
</li>
<li>Engineering Coop January 2014 - April 2014</li>
<li> Gathered, tested, and performed analysis of data with written report of results
</li>
<li>Maintained and updated tools and projects for new releases</li>
<li>Created and wrote tests in C/C++ and Python
</li>
</ul>
<h2>Contact</h2>
<p>Feel free to contact me at mvg2967@rit.edu for more information</p>
</div>
{% endblock %}