{% extends 'blog/base.html' %}

{% block content %}
	{% if posts %}
		<ul>
			{% for post in posts %}
				<article>
	               <h2><a href = "/blog/view_post/{{post.slug}}">{{post.title}}</a></h2>
	                <p class="lead">{{post.posted}}</p>

	                <p style="color:white">{{post.body}}</p>
	                <div class="commentlink"><a href="/blog/view_post/{{post.slug}}">{{comment}} Comments</a></div>
		            <div class="taglink">Tags: <a href="/blog/tag/{{post.tag.slug}}">{{post.tag}}</a></div>
		            <hr />
	            </article>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no posts</p>
	{% endif %}

{% endblock %}